
.header {

    background-color: rgb(201, 161, 161);
    margin: 0px;
    padding: 5px 15px;
}

.logo-sec {
    display: flex;
    justify-content: flex-start;
}

.logo-img {
    width: 200px;
}

.navbar {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    justify-content: flex-end;
}

.footer {

}

.footer-text {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}